<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLOlI3Oka3a0_Ez7NjXxj2GqJWFy6-65c</string>
	<key>GCM_SENDER_ID</key>
	<string>173356283024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enactusmuj.dhi.dhi</string>
	<key>PROJECT_ID</key>
	<string>enactus-dhi</string>
	<key>STORAGE_BUCKET</key>
	<string>enactus-dhi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173356283024:ios:5162be186de6c480191415</string>
</dict>
</plist>